<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Unni｜HongKong Unni Limited{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://unpkg.com/flowbite@latest/dist/flowbite.min.css" rel="stylesheet">
  <script src="https://unpkg.com/flowbite@latest/dist/flowbite.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- Swiper.js CSS -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <style>
    #toTopBtn { transition: opacity 0.4s ease-in-out; }
  </style>
</head>
<body class="bg-white text-gray-800">

  {% include "header.html" %}

  <main class="py-6">
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <div class="max-w-xl mx-auto text-center p-4">
          {% for category, message in messages %}
            {% if category == 'success' %}
              <p class="text-green-600">{{ message }}</p>
            {% elif category == 'error' %}
              <p class="text-red-600">{{ message }}</p>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </main>

  {% block to_top_button %}{% endblock %}  <!-- ページトップバトン -->

  {% include "footer.html" %}
  <script src="{{ url_for('static', filename='js/toTopButton.js') }}"></script>
  <!-- Swiper.js JavaScript -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <!-- Custom Swiper Initialization -->
  <script src="{{ url_for('static', filename='js/swiper-init.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>
</html>
