<!-- Footer -->
<footer class="bg-blue-500 mt-10">
    <div class="max-w-screen-xl mx-auto p-4 flex flex-col md:flex-row justify-between items-center text-white">
      <div class="mb-4 md:mb-0">
        &copy; 2025 Unni. All rights reserved.
      </div>
      <ul class="flex space-x-6">
        <li><a href="/profile" class="hover:underline">会社案内</a></li>
        <li><a href="services" class="hover:underline">商品一覧</a></li>
        <li><a href="factory" class="hover:underline">工場概要</a></li>
        <li><a href="contact" class="hover:underline">お問い合わせ</a></li>
      </ul>
    </div>
  </footer>